.App {
  text-align: center;
  width:50%;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.heading{
  background-color: #f1f1f1;
  padding: 20px;
}
.row {
  display: flex;                  
  flex-direction: row;            
  flex-wrap: nowrap;    
  justify-content: space-around;
  border: 1px solid #f1f1f1;

}
.icons{
margin-top: 30px; 
}
.row > div {
  width: 100px;
  height: 100px;
}
.list {
  display: flex;
  margin: 20px 30px;
}
ul li {
  display: inline-block;
  margin: 0 10px;
  background: #ccc;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 45px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}